@import url(reset.css);

html, body{
    font-family: 'Merienda', cursive;
    font-size: 16px;
    line-height: 1.5;/*Базовая высота строчки*/
    min-width: 280px; 
    text-align: center;
}
.body{
    position: absolute;
    background: url(/static/img/background-image.png);  
    background-size: cover;
    width: 100%;
}
.mainbox{
    width: 70%;
    float: left;
    margin-left: 5%;
}
.mainbox p, .mainbox h1{
    color: crimson;
}
.rightbox{
    width: 18%;
    float: right;
    margin-right: 2%;
}
.mainbox, .rightbox{
    position: relative;
    margin-top: 100px;
}
.photo{
    position: relative;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: white;
    padding: 10px 0 10px 0;
}
.profileinfo{
    position: relative;
    height: 50px;
    width: 100%;
    padding-left: 10%;

}
.profileinfo img{
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
}
.profileinfo h3{
    float: left;
}
.image img{
    width: 60%;
    
    transition: .5s;
}
.image img:hover{
    width: 80%;
}
.logo{
    margin-bottom:10%;
}
.logo img{
    width: 100%;
    border-radius: 5px;
}
.profile{
    margin-bottom: 10px;
}
.profileinfo a{
    color: crimson;
}
.profileinfo a:hover{
    color: darkred;
}
.rightbox .profile_info{
   background-color: white;
   padding-bottom: 5%;
   border-radius: 5px 5px 0 0;
}
.profile_info h2{
    padding-bottom: 10px;
}
.profile_info img{
    height: 75px;
    width: 75px;
    border: 2px solid #D2691E;
    border-radius: 50%;
}
.profile_info img:hover{
    animation-name: rotate_img;
    animation-duration: 2s;
}
.profile_info a{
    color: crimson;
    text-decoration: none;
}
@keyframes rotate_img{
    0% {transform:rotate(0deg);} 
    10% {transform:rotate(50deg);} 
    17% {transform:rotate(-40deg);}
    23% {transform:rotate(7deg);} 
    27% {transform:rotate(-5deg);} 
    30% {transform:rotate(0deg);} 
 
}
.add_image{
    background-color: white;
    height: 75px;
    padding-bottom: 15px;
    position: relative;
}
p label{
    display: none;
}
p input{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.add{
    border: none;
    background: none;
    margin-top: 10px;
    margin-left: 10px;
}
.add:hover{
    border: 1px solid #D2691E;
    border-radius: 5px;
}
.search{
    position: relative;
    background-color: white;
    padding-bottom: 10px;
}
#results{
    background: white;
    z-index: 99999999;
    position: absolute;
    display: block;
    margin-top: 20px;
    width: 100%;
    max-height: 300px;
    overflow-y:auto;
    
}
#results a{
    color: crimson;
    text-decoration: none;
}
#results img{
    width: 150px;
    height: 150px;
}
#results .info{
    height: 100%;
    display: block;
    border: 1px solid crimson;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 60%;
    margin-left: 20%;
}
.login, .logout{
    padding-bottom: 5%;
    padding-top: 5%;
    background: white;
    transition: .5s;
    position: relative;
}
.rightbox .login:hover{
    background: crimson;
    color: white;
    border-radius: 0px 0 5px 5px;
}
.logout:hover{
    background-color: crimson;
    color: white;
    border-radius: 0px 0 5px 5px;
}
.rightbox .login:hover a, .logout:hover a{
    color: white;
}
.login a, .logout a{
    color: crimson;
    transition: .5s;
}
.rightbox .login a:hover, .logout a:hover{
    text-decoration: none;
    color: white;
}
.userheader{
    border: 2px solid crimson;
    border-radius: 10px;
    margin-bottom: 20px;
}
.userheader h1{
    font-size: 25px;
}
.userpage .image img{
    margin-bottom: 20px;
}